* {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    color: white;
    margin-bottom: 20px;
}
h3 {
    color: white;
    margin-bottom: 10px;
}
h4 {
    font-size: 12px;
}
.cover {
    width: 100%;
    background-size: cover;
    margin-bottom: 15px;
}
.cover:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}


header {
    height: 80px;
    width: 100%;
    background-color: rgba(0, 2, 8, 0.6);
    padding: 0 20px;
    z-index: 1;
}
header .btn a {
    border-radius: 25px;
    border: 1px solid white;
    display: inline-block;
    padding: 10px 30px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}
header .btn a:hover {
    transform: scale(1.1) translate(-10px);
}

.container {
    height: calc(100vh - 80px);
}
.container nav {
    background-color: black;
    overflow-y: hidden;
    height: 100%;
    z-index: 2;
}
.container main {
    background-color: #141922;
    overflow-y: auto;
    height: 100%;
    padding: 130px 30px 0 30px;
}

.explore ul {
    font-size: 13px;
    text-transform: uppercase;
    list-style-type: none;
}
.explore li {
    display: inline-block;
    position: relative;
    height: 50px;
}
.explore li a {
    padding: 5px 10px;
    text-decoration: none;
    color: #7A7D81;
    font-weight: bold;
}
.explore li a:hover {
    color: white;
}
.explore hr {
    margin-top: 10px;
    border-color: transparent;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.explore .current hr {
    border-bottom: 3px solid #ADFF2F;
    width: 40px;
}

.recent .col {
    padding-right: 10px;
    text-align: center;
    margin-bottom: 15px;
}
.recent .cover.one {
    background-image: url("../img/metal_lifting.jpg");
}
.recent .cover.two {
    background-image: url("../img/stranger.jpeg");
}
.recent .cover.three {
    background-image: url("../img/aquietplace.jpeg");
}
.recent .cover.four {
    background-image: url("../img/split.jpeg");
}
.recent .cover.five {
    background-image: url("../img/cure.jpeg");
}
.recent .cover.six {
    background-image: url("../img/sinister.jpeg");
}
.recent h4 {
    color: #7A7D81;
}

footer {
    background-color: #282828;
    height: 80px;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 575px) {
    .container nav {
        width: 60px;
    }
    .container main {
        width: calc(100% - 60px);
    }
}
@media screen and (min-width: 576px) {
    .container nav {
        width: 220px;
    }
    .container main {
        width: calc(100% - 220px);
    }
}